/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
.middle-align{
    vertical-align: middle;
}

body{
    background-color: lightslategray;
}
.container{
    height: 80px;
    padding: 10px;
    background-color: white;
    /* debug */
    border: 2px solid black;
}


/* header */
.main-title {
    display: inline;
    font-size: 40px;
}


/* main */